<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">
</head>
    <body>
        <div id="main_container">
            <div class="parrot"><img src="{{ STATIC_URL }}images/arrow.jpg" alt="" title=""></div>
            <div class="main_content">
                <div id="header">

                </div>
                <div class="top_center_box"></div>
                <div class="center_box">
                    <div id="menu_tab">
                        <ul class="menu">
                            <li><a href="index.html" class="nav_selected"> HOME </a></li>
                            <li class="divider"></li>
                            <li><a href="portofolio.html" class="nav">portofolio </a></li>
                            <li class="divider"></li>
                            <li><a href="#" class="nav"> services</a></li>
                            <li class="divider"></li>
                            <li><a href="#" class="nav"> clients</a></li>
                            <li class="divider"></li>
                            {% if user.is_authenticated %}
                                <li><a href="{% url django.contrib.auth.views.logout  %}" class="nav"> Logout </a></li>
                            {% else %}
                                <li><a href="{% url account.views.login_user %}" class="nav"> Login </a></li>
                                <li><a href="{% url account.views.sign_up %}" class="nav"> Sign Up </a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="middle_box">
                        <div class="middle_box_text_content">
                            <div class="middle_box_title"></div>
                            {% block content %}

                            {% endblock %}
                        </div>
                    </div>
                    <div id="footer"></div>
                </div> <!--end of center box-->
            </div> <!--end of main content-->
        </div> <!--end of main container-->
    </body>
</html>