<html>
    <head>
        <title>
            Vita's project
        </title>
        <style>
            div {

            }
            .jopa_konya{
                float: left;
            }
        </style>
    </head>
    <body style="background: url('http://www.emoticonswallpapers.com/background/pattern/background-pattern-007.jpg') top left repeat">
        <div style="color:white">
            {{ a }}
        </div>
        <div  class="jopa_konya" style="padding-bottom: 70px; padding-left: 40px; padding-top: 42px; padding-right: 30px">
            <img src="http://cs405619.vk.me/v405619327/685d/w3_LjfsRh3o.jpg"  width="200px" height="275px">
        </div>
        <div class="jopa_konya" style="padding-top: 44px">
            <img src="http://cs304907.vk.me/v304907811/64e8/sr-wj9I_MLA.jpg"  width="300px" height="250px">
        </div>
    </body>
</html>