<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"  "http://www.w3.org/TR/html4/strict.dtd">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="style.css" rel="stylesheet" type="text/css">

<script type="text/javascript" 
   src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
   <script type="text/javascript" 
   src="map.js"></script>
 
<script type="text/javascript">
  function onBodyLoad() {
   
	map_container_id = "map_container";

	loadMap(map_container_id);
 
  }
</script>


</head>
<body onload="onBodyLoad()">
	<div id="header">
		Header
	</div>
	<div id="content">
		<div id="left_content_column">
			Left Column
		</div>
		<div id="center_content_column">
			<div id="map_container"></div>
		</div>
	</div>
	<div id="header">
		footer
	</div>
</body>